.operations {
  display: flex;
  gap: 20px;
}

.operations .edit {
  cursor: pointer;
  color: rgb(45, 112, 236);
}

.operations .delete {
  cursor: pointer;
  color: rgb(245, 35, 53);
}

.ant-table-wrapper {
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

.ant-table-content {
  border-radius: 5px;
}